<h3>Event Navigation</h3>
<ul>
    <li><a asp-area="" asp-controller="Event" asp-action="Register" asp-route-eventCode="spring-2025">Spring 2025</a></li>
    <li><a asp-area="" asp-controller="Event" asp-action="Register" asp-route-eventCode="fall-2025">Fall 2025</a></li>
    <li><a asp-area="" asp-controller="Event" asp-action="Register">Register</a></li>
</ul>